<footer class="w-75 mx-auto pt-4">
	<div class="border-bottom mb-3">
		<h4>Naturly</h4>
	</div>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link-header nav-header-link" href="/terms">Legal</a>
		</li>
		<li class="nav-item">
			<a class="nav-link nav-header-link" href="/privacy">Privacy Policy</a>
		</li>
		<li class="nav-item">
			<a class="nav-link nav-header-link" href="/refunds">Refunds (No Refunds Currently)</a>
		</li>
	</ul>
</footer>