<div class="w-75 mx-auto mb-5 mt-5">
	<div class="back-btn mb-4">
		<a href="/admin" class="text-dark"><i class="fas fa-chevron-left"></i> Back</a>
	</div>
	{{#if isEmptyList }}
	<div class="adm-orders-table-legend">
		<div class="row align-items-start border-bottom">
			<div class="col">
				Order Date
			</div>
			<div class="col">
				Total Order Amount
			</div>
			<div class="col">
				Total Orders
			</div>
		</div>
	</div>

	<div class="adm-orders-table">
		{{#each sales}}
		<div class="row align-items-start mt-4 mb-4 border-bottom">
			<div class="col">
				{{@key}}
			</div>
			<div class="col">
				${{this.totalSum}}
			</div>
			<div class="col">
				{{this.totalOrders}}
			</div>
		</div>
		{{/each}}
	</div>

	{{else}}
	<div class="empty-errList mt-5">
		<p class="text-center fw-bold fs-5">Currently, we don't have any sales. 😥</p>
	</div>
	{{/if }}
</div>