<div class="container w-75 mx-auto border-top border-bottom p-2 mt-5">
	<div class="row row-cols-3">
		<div class="col">
			<div class="d-inline-flex align-items-center">
				<div class="icon mx-3 fs-3">
					<i class="fas fa-user"></i>
				</div>
				<div class="info">
					<span id='admin-title-sm'>Registered Users</span><br /><span class="admin-title-sm-info">---</span>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="d-inline-flex align-items-center">
				<div class="icon mx-3 fs-3">
					<i class="fas fa-archive"></i>
				</div>
				<div class="info">
					<span id='admin-title-sm'>Orders</span><br /><span class="admin-title-sm-info">--</span>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="d-inline-flex align-items-center">
				<div class="icon mx-3 fs-3">
					<i class="fas fa-coins"></i>
				</div>
				<div class="info">
					<span id='admin-title-sm'>Sales</span><br /><span class="admin-title-sm-info">$-,---.--</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container w-75 mx-auto mt-5 mb-5">
	<div class="row">
		<div class="col-sm-12 mb-4">
			<a href="/admin/connection" class="adm-link-content">
				<div class="fs-4 p-3 rounded text-white text-center" style="background: #7b4397;
background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
background: linear-gradient(to right, #dc2430, #7b4397);
">
					Database Connection
				</div>
			</a>
		</div>
		<div class="col-sm-4 mb-4">
			<a href="/admin/sales" class="adm-link-content">
				<div class="fs-4 p-3 rounded text-white" style="background: #134E5E;
background: -webkit-linear-gradient(to right, #71B280, #134E5E);
background: linear-gradient(to right, #71B280, #134E5E);

">
					Sales
				</div>
			</a>
		</div>
		<div class="col-sm-4 mb-4">
			<a href="/admin/shipments" class="adm-link-content">
				<div class="fs-4 p-3 rounded text-white" style="background: #D3959B;
background: -webkit-linear-gradient(to right, #D3959B, #BFE6BA);
background: linear-gradient(to right, #D3959B, #BFE6BA);


">
					Shipments
				</div>
			</a>
		</div>
		<div class="col-sm-4 mb-4">
			<a href="/admin/users" class="adm-link-content">
				<div class="fs-4 p-3 rounded text-white" style="background: #000428;  
background: -webkit-linear-gradient(to right, #004e92, #000428);  
background: linear-gradient(to right, #004e92, #000428);
">
					Users
				</div>
			</a>
		</div>
		<div class="col-sm-4 mb-4">
			<a href="/admin/orders" class="adm-link-content">
				<div class="fs-4 p-3 rounded text-white" style="background: #FFB75E;  
background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E); 
background: linear-gradient(to right, #ED8F03, #FFB75E);
">
					Orders
				</div>
			</a>
		</div>
			<div class="col-sm-4 mb-4">
			<a href="/admin/products" class="adm-link-content">
				<div class="fs-4 p-3 rounded text-white" style="background: #614385;
background: -webkit-linear-gradient(to right, #516395, #614385);
background: linear-gradient(to right, #516395, #614385); 
">
					Products
				</div>
			</a>
		</div>
	</div>
</div>