<div class="w-75 mx-auto mb-5 mt-5">
	<div class="p-5 text-center">
    <h1>{{ response.title }}</h1>
    <p class="lead">{{ response.description }}</p>
   	<a class="btn btn-outline-light text-dark" href="{{ response.link }}">{{ response.linkMessage }}</a>
  </div>
</div>