<div class="w-75 mx-auto m-center" style="height: 50vh;">
	<div class="h-100 pt-5 text-dark text-center" style=" margin-top: 10%;">
		<h3>Oops! We got a problem here! 😥</h3>
		<p class="m-intro-bold">{{ title }}</p>
		<a class="btn btn-outline-light text-dark" href="/">Take me back</a>
	</div>
</div>