<div class="bg-main">
	<div class="w-75 mx-auto m-center">
		<div class="row align-items-md-stretch">
			<div class="col-md-8">
				<div class="h-100 p-5 text-white">
					<h3>Just Arrived</h3>
					<p class="m-intro-bold">New Summer Collection</p>
					<h5 class="m-less-b mb-4">Purified Fiji Water, Volcanic Earth, Himalayan Air and much more...</h5>
					<a class="btn btn-outline-light" href="/store">Begin Shopping</a>
				</div>
			</div>
		</div>
	</div>
</div>