<div class="w-75 mx-auto mb-5 mt-5">
	<div class="mx-auto w-50">
				<div class="row justify-content-center my-auto">
						<div class="col-md-8 col-10 my-5">
								<h2 class="msg-info text-center mb-5">Account Login</h2>
								<div class="form-group mb-3"> <label class="form-control-label text-dark">Email</label> <input type="text" required id="email" name="email" placeholder="Email" class="form-control lgn-input"> </div>
								<div class="form-group"> <label class="form-control-label text-dark">Password</label> <input type="password" required id="password" name="psw" placeholder="Password" class="form-control lgn-input"> </div>
								<div class="log-err text-danger text-center mt-2 mb-2" style="display:none;"></div>
								<div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color text-center text-light btnLogin">Login</button> </div>
								<div class="d-block text-center"><a href="/restore"><small class="text-muted">Forgot Password</small></a> - <a href="/register"><small class="text-muted">Register Account</small></a></div>
						</div>
				</div>
  </div>
</div>