<div class="w-75 mx-auto mb-5 mt-5">
	<div class="mx-auto w-50 p-3 rounded regSuccess" style="display:none;">
		<div class="reg-title text-center d-block mt-4 mb-4 fs-3 fw-bold" >
			Success 😄
		</div>
		<div class="reg-success-block">
			<p class="text-center">Your account is registered in our system.</p>
			<p class="fw-bold text-center">Redirecting you to the login page...</p>
		</div>
	</div>
	<div class="mx-auto w-100 bg-light register-block" style="display:block;">
		<div class="row">
			<div class="col-sm-5 reg-intro-img">
			</div>
			<div class="col-sm-7 p-2">
				<div class="reg-title text-center d-block mt-4 mb-4 fs-4 fw-bold">
					Register Account
				</div>
				<div class="form-pl mx-auto w-75" >
					<div class="row mb-3">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">First Name</label> <input type="text" required placeholder="John" class="form-control btnRegister firstNameReg"> </div>
						</div>
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Last Name</label> <input type="text" required placeholder="Doe" class="form-control btnRegister lastNameReg"> </div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Email</label> <input type="text" required placeholder="john.doe@example.com" class="form-control btnRegister emailReg"> </div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Phone number</label> <input type="text" required placeholder="250-111-2233" class="form-control btnRegister phoneReg"> </div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Street Address</label> <input type="text" required placeholder="1290 International Mews" class="form-control btnRegister addressReg"> </div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">City</label> <input type="text" required placeholder="Kelowna" class="form-control btnRegister cityReg"> </div>
						</div>
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Postal Code</label> <input type="text" required placeholder="V1V1V8" class="form-control btnRegister codeReg"> </div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Province</label> <input type="text" required placeholder="BC" class="form-control btnRegister stateReg"> </div>
						</div>
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Country</label> <input type="text" required placeholder="Canada" class="form-control btnRegister countryReg"> </div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Password</label> <input type="password" required placeholder="Secret Password" class="form-control btnRegister passwordReg"> </div>
						</div>
					</div>
					<div class="row mb-4">
						<div class="col">
							<div class="form-group"> <label class="form-control-label text-dark">Nickname</label> <input type="text" disabled value="doe" class="form-control btnRegister nicknameReg nicknameReg"> </div>
						</div>
					</div>
					<div class="log-err text-danger text-center mt-2 mb-2" style="display:none;"></div>
					<div class="row justify-content-center my-3 px-3"> <button class="btn-color text-center text-light" id="btnRegisterForm">Register</button> </div>
				</div>
			</div>
		</div>
	</div>
</div>