<div class="w-75 mx-auto mb-5 mt-5">
	<div class="mx-auto w-50 bg-light restore-block-page-success p-3" style="display:none;">
		<p class="text-center fs-4 fw-bold d-block mt-4">Success 😄</p>
		<p class="w-75 mx-auto d-block mb-4">We verified that your account exists in our system, and sent you confirmation email with the link. You can also use this link to restore your password<br/><br/><a href="" class="p-1 rounded text-light linkRestore" style="background-color: #F19953;"><span class="restoreToken"></span></a></p>
	</div>

	<div class="mx-auto w-50 bg-light restore-block-page p-3" style="display:block;">
		<p class="text-center fs-4 fw-bold d-block mt-4">Restore Password</p>
		<p class="w-75 mx-auto d-block mb-4">Enter the email address associated with your account and we'll send you a link to reset your password.</p>
		<div class="form-pl mx-auto w-75">
			<div class="row mb-3">
				<div class="col">
					<div class="form-group"> <label class="form-control-label text-dark">Email</label> <input type="text" required placeholder="joe.doe@example.com" class="form-control btnRestore emailRestore"> </div>
				</div>
			</div>
			<div class="log-err text-danger text-center mt-2 mb-2" style="display:none;"></div>
			<div class="row justify-content-center my-3 px-3"> <button class="btn-color text-center text-light" id="btnRestoreForm">Continue</button> </div>
		</div>
	</div>
</div>