<div class="w-75 mx-auto mb-5 mt-5">
	<div class="mx-auto w-50 bg-light restore-block-page-confirmed-final p-3" style="display:none;">
		<p class="text-center fs-4 fw-bold d-block mt-4">Success 😄</p>
		<p class="w-75 mx-auto d-block mb-4 text-center">Your password has been updated.<br /><br /><span class="fw-bold">Redirecting to the login page...</span></p>
	</div>

	<div class="mx-auto w-50 bg-light restore-block-page-final p-3" style="display:block;">
		<p class="text-center fs-4 fw-bold d-block mt-4">Restore Password</p>
		<p class="w-75 mx-auto d-block mb-4">Enter your new password, and make sure to not forget it next time :)</p>
		<div class="form-pl mx-auto w-75">
			<div class="row mb-3">
				<div class="col">
					<div class="form-group"> <label class="form-control-label text-dark">New Password</label> <input type="password" required placeholder="New Password" class="form-control btnRestore newPasswordRestore"> </div>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<div class="form-group"> <label class="form-control-label text-dark">Confirm New Password</label> <input type="password" required placeholder="Confirm New Password" class="form-control btnRestore newPasswordConfirmRestore"> </div>
				</div>
			</div>
			<div class="log-err text-danger text-center mt-2 mb-2" style="display:none;"></div>
			<div class="row justify-content-center my-3 px-3"> <button class="btn-color text-center text-light" id="btnRestoreFinalForm">Restore</button> </div>
		</div>
	</div>
</div>